<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="" ng-click="back()">
            <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Contact</h1>
    </div>
</div>

<div class='details'>
    <qr text="data-to-encode" size="84" style="float:left;margin:10px"></qr>
    <h1>{{contact.name}}</h1>
    <h3>ID: {{contact.id}}</h3>
</div>
