<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <button class="topcoat-icon-button--quiet" href="" ng-click="editContact('new')" data-toggle="modal">
            <span class="topcoat-icon icomatic">plus</span>
        </button>
    </div>

    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Thali Contacts</h1>
    </div>
</div>

<div class="topcoat-list__container scroller">
    <ul class="topcoat-list list">
        <li ng-repeat="contact in contacts | filter:query | orderBy:orderProp" class="topcoat-list__item">

        <!-- <li pouch-repeat="contact in contacts" class="topcoat-list__item"> -->
            <a ng-click="go('/contacts/' + {{contact.id}})">
                <div>
                    <h3>{{contact.name}}</h3>
                    <!-- <qr text="contact.uniqueId" type="8" style="float:left;margin:10px"></qr> -->
                </div>
            </a>
        </li>
    </ul>
</div>
