<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="" ng-click="back()">
            <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">{{contact.name}}</h1>
    </div>
</div>

<div style="margin:10px">
    <h1>{{contact.name}}</h1>
    <qr text="contact.uniqueId" type="8"></qr>
    <!-- <h4>Id: {{contact.id}}</h4> -->
    <!-- <h4>Key: {{contact.uniqueId}}</h4> -->
</div>