/Prototype/YaronG/Java8Prototype/MicroBlogger/nbproject/private/
/Prototype/YaronG/Java8Prototype/MicroBlogger/build/
/Prototype/YaronG/Java8Prototype/MicroBlogger/dist/
/Prototype/YaronG/LiveConnectPrototype/JavaLibrary1/nbproject/private/
/Prototype/YaronG/LiveConnectPrototype/LiveConnectPrototype/nbproject/private/