<h1>Thali</h1>
<ul style="list-style-type:none">
<li> <a href="index">Home</a> </li>
<li> <a href="RelatedEfforts">Related Efforts</a></li>
<li> <a href="PriorArt">Prior Art</a> </li>
</ul>
<h2> Architecture </h2>
<ul style="list-style-type:none">
<li> <a href="ThaliAndCouch">Thali and Couch</a></li>
<li> <a href="HttpkeyURLScheme">Httpkey URL Scheme</a></li>
<li> <a href="ThaligroupURLScheme">Thaligroup URL Scheme</a> </li>
<li> <a href="TDHReplicationManager">TDH Replication Manager</a> </li>
</ul>
<h2> Developer Handbook </h2>
<ul style="list-style-type:none">
<li><a href="DeveloperHandbook">Overview</a></li>
<li> <a href="SetupForWindows">Setup for windows</a></li>
<li> <a href="UnderstandingThalisUseOfMaven">Understanding Thali's Use of Maven</a></li>
<li><a href="ThaliGuideToGit">Thali Guide to Git</a></li>
</ul>
<h2>Technology Investigations</h2>
<p>
A <a href="TechnologyInvestigations">series</a> on technologies that are used, or might have been used, to create Thali.
</p>
