<!DOCTYPE html>
<html>
 
<head>

<title>
  {% if page.title != null %}
    {{ page.title }}
    {% else %}
    <title>Thali</title>
    {% endif %}
</title>
 <link rel="stylesheet" type="text/css" href="/thali/stylesheets/stylesheet.css"> 
 <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css"> 
</head>

<body>
  <a href="https://github.com/thaliproject"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  {% if page.title != null %}
    <h1 class="PageTitle">{{ page.title }}</h1>
  {% endif %}
  
 <table>
  
 <tr>
 <td valign="top" style="width:15%;background-color:lightgray">

  {% include TableOfContents.html %}
</tdv>

<td>
 &nbsp;&nbsp;&nbsp;&nbsp;
</td>

<td valign="top">
  
<div id="main">
  {{ content }}
</div>

</td>
</tr>
</table>

</body>
</html>
