---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->


{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title escape_once }}"></a>
            </p>

            {% if post.image.caption_url && post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% endif %}
            {% endfor %}
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:1 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}
                  {{ post.meta_description | strip_html | escape }}
                {% elsif post.teaser %}
                  {{ post.teaser | strip_html | escape }}
                {% else %}
                  {{ post.excerpt | strip_html | escape }}
                {% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='7' offset='1' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}

<!-- Thali content links -->
<div class="row">
  <div class="small-12 columns">

    <section class="category">
      <h2>Architecture</h2>
      <ul class="side-nav">
          {% for page in site.pages %}
            {% if page.categories contains 'architecture' %}
              <li><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
      </ul>
    </section>

    <section class="category">
      <h2>Developer Handbook</h2>
      <ul class="side-nav">
          {% for page in site.pages %}
            {% if page.categories contains 'documentation' %}
              <li><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
      </ul>
    </section>

    <section class="category">
      <h2>Technology Investigations</h2>
      <p>A <a href="/TechnologyInvestigations">series on technologies</a> that are used, or might have been used, to create Thali.</p>
    </section>

  </div>
</div>

{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
