---
layout: default
format: post
---
<div class="row t30">
	<div class="medium-8 columns{% if page.sidebar == "left" %} medium-push-4{% endif %}">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				{% if page.date %}
				<time class="icon-calendar pr20 dim" datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished"> {{ page.date | date: "%B %d, %Y" }}</time>
				{% endif %}

				<span itemprop="name">
					{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
					<h1>{{ page.title }}</h1>
				</span>
			</header>


			{% if page.teaser %}
			<p class="teaser" itemprop="description">
				{{ page.teaser }}
			</p>
			{% endif %}

			<span itemprop="articleSection">
			{{ content }}
			</span>

			{% if page.show_meta == true %}
			{% include _meta_information.html %}
			{% endif %}

			<p><a href="http://www.thaliproject.org/atom" class="iconfont icon-rss">Subscribe to Atom Feed</a></p>

			<div id="post-nav" class="row">
				{% if page.previous.url %}
				<div class="small-5 columns"><a class="button small radius prev" href="{{ site.url }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a></div><!-- /.small-4.columns -->
				{% endif %}
				<div class="small-2 columns text-center"><!-- <a class="radius button small" href="{{ site.url }}/blog/" title="Blog {{ site.data.language.archive }}">{{ site.data.language.archive }}</a> --></div><!-- /.small-4.columns -->
				{% if page.next.url %}
				<div class="small-5 columns text-right"><a class="button small radius next" href="{{ site.url }}{{page.next.url}}">{{page.next.title}} &raquo;</a></div><!-- /.small-4.columns -->
				{% endif %}
			</div>

			{% if page.comments == true %}
			{% include _comments.html %}
			{% endif %}
		</article>
	</div><!-- /.medium-8.columns -->


	{% if page.sidebar == "left" %}
	<div class="medium-4 columns medium-pull-8">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% else %}
	<div class="medium-4 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
</div><!-- /.row -->
